rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function getRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roleId;
    }

    function isAdmin() {
      return getRole() == 'admin';
    }
    
    function isDeveloper() {
      return getRole() == 'developer';
    }

    // User Profile
    match /users/{userId} {
      allow read, update: if isOwner(userId) || isAdmin() || isDeveloper();
      allow create: if isSignedIn();
      allow delete: if isAdmin() || isDeveloper();
    }
    
    match /roles/{roleId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isDeveloper();
    }

    // Catch-all for other collections
    match /{document=**} {
      allow read, write: if isAdmin() || isDeveloper();
    }
  }
}
